-content_for :header do
  %header
    %figure
      %img{ :src => 'images/peter-jurczynski.jpg', :alt => "Peter Jurczyński", :title => "Peter Jurczyński"} 
    %h1 Piotr Jurczyński
    %p.birthday
      birth: 8th July 1987
    %address
      %p
        %span.icon.icon-italy_flag
        Living in Pordenone (PN) / Italy 
    .contact
      %p.full
        %span.icon.icon-italy_flag
        +39 366 478 4328
    .contact
      %p.full
        %a{ :href => 'mailto:pjurczynski@gmail.com' }
          pjurczynski@gmail.com

%article.cv
  %section
    %h3 Experience
    %ul.details.with-time
      %li
        %time
          2012 &ndash; 2013
        %div.details-description
          %p
            Working at 
            %a{ :href => 'http://allani.com', :rel => :nofollow } Allani sp. z o. o.
            a startup project in Ruby on Rails

          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li
                Creating a base of the international website (
                %a{ :href => 'http://allani.com', :rel => :nofollow }<> allani.com
                ). 
                %em (js/RoR/
                %strong<> Responsive Web Design
                )
              %li
                Recreating functionality of the `creator`
                %em (js/mustache/RoR)
              %li
                Developing landing pages based on mock-ups
                %em (js/RoR)
      %li
        %time
          2010 &ndash; 2012
        %div.details-description
          %p
            Working at the Advertising Agency
            %a{ :href => 'http://www.wenecja.com.pl', :rel => :nofollow } www.wenecja.com.pl
          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li
                Create a page for
                %a{ :href => 'http://www.butyortopedyczne.com', :rel => :nofollow} ButyOrtopedyczne.com
                %em (php/jquery/html/css)
              %li
                Create a page for
                %a{ :href => 'http://rekma.pl', :rel => :nofollow} rekma.pl
                on an existing internal CMS
              %li
                Creation and maintenance of internal CRM
                %em (php/jquery/html/css)
      %li
        %time
          2008 &ndash; 2013
        %div.details-description
          %p
            Freelancer
          %div.details-resp
            %h4.details-resp-header
              best projects
            %ul.details-resp-list
              %li
                %a{ :href => 'http://rentaronin.herokuapp.com'} Rent a Ronin
                %br
                %em (ruby/sinatra/html/css/design)
              %li
                %a{ :href => 'http://wydawnictworemi.pl'} WydawnictwoRemi.pl
                %em (php/jquery/html/css/wordpress)
  %section
    %h3 Education
    %ul.details
      %li
        %div.details-description
          %p
            The School of Banking and Management
          %div.details-resp
            %h4.details-resp-header
              2007 &ndash; Present
            %ul.details-resp-list
              %li IT Engineering degree
      %li
        %div.details-description
          %p
            Attendance at conferences
          %div.details-resp
            %h4.details-resp-header
              2013
            %ul.details-resp-list
              %li 
                %a{ :href => 'http://2013.fromthefront.it/' } FrontTrend Brothers
                \- From the Front in Italy/Bologna
              %li
                %a{ :href => 'http://2013.front-trends.com/' } FrontTrends 2013
                in Warsaw/Poland
              %li 
                %a{ :href => 'http://wrocloverb.com/' } wroc_love_rb
                in Poland/Wrocław
  %section
    %h3 Skills
    %ul.details
      %li
        %div.details-description
          %div.details-resp
            %h4.details-resp-header
              6 years
            %ul.details-resp-list
              %li HTML/CSS
          %div.details-resp
            %h4.details-resp-header
              3 years
            %ul.details-resp-list
              %li PHP (wordpress/codeigniter)
          %div.details-resp
            %h4.details-resp-header
              3 years
            %ul.details-resp-list
              %li Javascript/Jquery
          %div.details-resp
            %h4.details-resp-header
              2 years
            %ul.details-resp-list
              %li Ruby/Rails/Sinatra
          %div.details-resp
            %h4.details-resp-header
              Preprocessors
            %ul.details-resp-list
              %li Sass, Coffeescript
  %section
    %h3 Interests
    %ul.details
      %li
        %div.details-description
          %div.details-resp
            %h4.details-resp-header
              Music
            %ul.details-resp-list
              %li
                I have a deep passion for music. 
                %br My life without music would be empty
          %div.details-resp
            %h4.details-resp-header
              Games
            %ul.details-resp-list
              %li
                If it comes to games, I am a real maniac!
                %br ...I try to limit my addiction...
          %div.details-resp
            %h4.details-resp-header
              Gadgets
            %ul.details-resp-list
              %li Nowadays a gadget geek is as natural as a blue sky. My most beloved are HTC&nbsp;Sensation and a Media Center made of Rasberry&nbsp;Pi!
