-content_for :header do
  %header
    %figure
      %img{ :src => 'images/peter-jurczynski.jpg', :alt => "Peter Jurczyński", :title => "Peter Jurczyński"} 
    %h1 Piotr Jurczyński
    %p.birthday
      birth: 8th July 1987
    %p.subtitle
      %span.icon.icon-poland_flag
        Poland
      %br
      %span.icon.icon-poland_flag.visually-hidden
      793 704 999
      %br
        %a{ :href => 'mailto:pjurczynski@gmail.com' }
          %br
            %span.icon.icon-poland_flag.visually-hidden
            pjurczynski@gmail.com
    %address
      %p
        Czarnowiejska 97a/9
        %br 30-049 Cracow

%article.cv
  %section
    %h3 Experience
    %ul.details.with-time
      %li
        %time
          2012 &ndash; 2013
        %div.details-description
          %p
            Working at 
            %a{ :href => 'http://allani.pl' } allani.pl
            A startup project in Ruby on Rails

          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li
                Recreating functionality of the `creator`
                %em  (js/mustache/RoR)
              %li
                Developing landing pages based on mock-ups
                %em (js/RoR)
              %li
                Creation and maintenance of internal CRM
                %em (php/jquery/html/css)
      %li
        %time
          2010 &ndash; 2012
        %div.details-description
          %p
            Working at the Advertising Agency
            %a{ :href => 'http://www.wenecja.com.pl' } www.wenecja.com.pl
          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li
                Create a page for
                %a{ :href => 'http://www.butyortopedyczne.com'} ButyOrtopedyczne.com
                %em (php/jquery/html/css)
              %li
                Create a page for
                %a{ :href => 'http://rekma.pl'} rekma.pl
                on an existing internal CMS
              %li
                Creation and maintenance of internal CRM
                %em (php/jquery/html/css)
              %li Computer service
      %li
        %time
          2010 &ndash; present
        %div.details-description
          %p
            Working at the Law Firm
            %a{ :href => 'http://ck-legal.pl' } ck-legal.pl
          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li
                maintenance and development of an existing page 
                %em (php/html/css/wordpress)
              %li
                computer service
      %li
        %time
          2011
        %div.details-description
          %p
            Working at the
            %a{ :href => 'http://jamamto.com'} JaMamTo.com
            as a front&ndash;end & back&ndash;end developer
          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li 
                coded landing page 
                %em (php/jquery/html/css)
              %li
                coded calendar widget and administration panel
                %em (php/jquery/html/css)
      -#%li
        %time
          2008 &ndash; present
        %div.details-description
          %p
            Working as a freelancer
          %div.details-resp
            %h4.details-resp-header
              best of
            %ul.details-resp-list
              %li
                %a{ :href => 'http://jurczynski.me'} Jurczynski.me
                %em (ruby/sinatra/jquery/html/css/design)
              %li
                %a{ :href => 'http://wydawnictworemi.pl'} WydawnictwoRemi.pl
                %em (php/jquery/html/css/wordpress)
              %li
                %a{ :href => 'http://autoradca.pl'} AutoRadca.pl
                %em (php/jquery/html/css/wordpress)
  %section
    %h3 Education
    %ul.details
      %li
        %div.details-description
          %p
            The School of Banking and Management
          %div.details-resp
            %h4.details-resp-header
              2007 &ndash; Present
            %ul.details-resp-list
              %li IT Engineering degree
      %li
        %div.details-description
          %p
            Attendance at conferences
          %div.details-resp
            %h4.details-resp-header
              2013
            %ul.details-resp-list
              %li FrontTrends 2013 in Warsaw
              %li wroc_love_rb
  %section
    %h3 Skills
    %ul.details
      %li
        %div.details-description
          %div.details-resp
            %h4.details-resp-header
              6 years
            %ul.details-resp-list
              %li HTML/CSS
          %div.details-resp
            %h4.details-resp-header
              3 years
            %ul.details-resp-list
              %li PHP (wordpress/codeigniter)
          %div.details-resp
            %h4.details-resp-header
              3 years
            %ul.details-resp-list
              %li Javascript/Jquery
          %div.details-resp
            %h4.details-resp-header
              2 years
            %ul.details-resp-list
              %li Ruby/Rails/Sinatra
  %section
    %h3 Interests
    %ul.details
      %li
        %div.details-description
          %div.details-resp
            %h4.details-resp-header
              Music
            %ul.details-resp-list
              %li
                I have a deep passion for music. 
                %br My life without music would be empty
          %div.details-resp
            %h4.details-resp-header
              Games
            %ul.details-resp-list
              %li
                If it comes to games, I am a real maniac!
                %br ...I try to limit my addiction...
          %div.details-resp
            %h4.details-resp-header
              Gadgets
            %ul.details-resp-list
              %li Nowadays a gadget geek is as natural as a blue sky. My most beloved are HTC&nbsp;Sensation and a future Media Center made of Rasberry&nbsp;Pi!
