%article.cv
  %section
    %h3 Experience
    %ul.details
      %li
        %time
          2011 &ndash; Present
        %div.details-description
          %p
            My own experience
          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li writing widgets
              %li code launching page
      %li
        %time
          2011 &ndash; Present
        %div.details-description
          %p
            My own experience
          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li writing widgets
              %li code launching page
  %section
    %h3 Education
    %ul.details
      %li
        %time
          2011 &ndash; Present
        %div.details-description
          %p
            My own experience
          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li writing widgets
              %li code launching page
