%article.cv
  %section
    %h3 Doświadczenie
    %ul.details.with-time
      %li
        %time
          2010 &ndash; obecnie
        %div.details-description
          %p
            Agencja Reklamowa Wenecja
            %a{ :href => 'http://www.wenecja.com.pl' } www.wenecja.com.pl
          %div.details-resp
            %h4.details-resp-header
              obowiązki
            %ul.details-resp-list
              %li
                Stworzenie strony dla
                %a{ :href => 'http://www.butyortopedyczne.com'} ButyOrtopedyczne.com
                %em (php/jquery/html/css)
              %li
                Stworzenie strony dla
                %a{ :href => 'http://rekma.pl'} rekma.pl
                bazując na CMS'ie Agencji
              %li
                Budowa i obsługa systemu CRM dla Agencji
                %em (php/jquery/html/css)
              %li Serwis komputerowy
      %li
        %time
          2010 &ndash; obecnie
        %div.details-description
          %p
            Kancelaria prawna Chabasiewicz, Kowalska i Wspólnicy
            %a{ :href => 'http://ck-legal.pl' } ck-legal.pl
          %div.details-resp
            %h4.details-resp-header
              obowiązki
            %ul.details-resp-list
              %li
                Obsługa i rozwój istniejącej strony
                %em (php/html/css/wordpress)
              %li
                Serwis komputerowy
      %li
        %time
          2011
        %div.details-description
          %p
            %a{ :href => 'http://jamamto.com'}> JaMamTo.com
            ; stanowisko front & back-end developer
          %div.details-resp
            %h4.details-resp-header
              obowiązki
            %ul.details-resp-list
              %li 
                stworzenie 'landing page'
                %em (php/jquery/html/css)
              %li
                stworzenie terminarza w formie widget'u oraz panelu administracyjnego
                %em (php/jquery/html/css)
      %li
        %time
          2008 &ndash; obecnie
        %div.details-description
          %p
            Freelancer
          %div.details-resp
            %h4.details-resp-header
              najlepsze prace
            %ul.details-resp-list
              %li
                %a{ :href => 'http://jurczynski.me'} Jurczynski.me
                %em (ruby/sinatra/jquery/html/css/design)
              %li
                %a{ :href => 'http://wydawnictworemi.pl'} WydawnictwoRemi.pl
                %em (php/jquery/html/css/wordpress)
              %li
                %a{ :href => 'http://autoradca.pl'} AutoRadca.pl
                %em (php/jquery/html/css/wordpress)
  %section
    %h3 Edukacja
    %ul.details
      %li
        %div.details-description
          %p
            Wyższa Szkoła Zarządzania i Bankowości
          %div.details-resp
            %h4.details-resp-header
              2007 &ndash; obecnie
            %ul.details-resp-list
              %li Informatyka
  %section
    %h3 Umiejętności
    %ul.details
      %li
        %div.details-description
          %div.details-resp
            %h4.details-resp-header
              5 lat
            %ul.details-resp-list
              %li HTML/CSS
          %div.details-resp
            %h4.details-resp-header
              3 lata
            %ul.details-resp-list
              %li PHP (wordpress/codeigniter)
          %div.details-resp
            %h4.details-resp-header
              2 lata
            %ul.details-resp-list
              %li Javascript/Jquery
          %div.details-resp
            %h4.details-resp-header
              1 rok
            %ul.details-resp-list
              %li Ruby/Rails/Sinatra
  %section
    %h3 Zainteresowania
    %ul.details
      %li
        %div.details-description
          %div.details-resp
            %h4.details-resp-header
              Muzyka
            %ul.details-resp-list
              %li
                Moją największą pasją jest muzyka. Krótko mówiąc &ndash; życie bez muzyki byłoby puste.
          %div.details-resp
            %h4.details-resp-header
              Gry
            %ul.details-resp-list
              %li
                Jeśli chodzi o gry komputerowe to jestem prawdziwym maniakiem!
                %br ...ale staram się ograniczać...
          %div.details-resp
            %h4.details-resp-header
              Gadżety
            %ul.details-resp-list
              %li W dzisiejszych czasać bycie geek'iem jest naturalne. Moimi najukochańszymi gadżetami są HTC&nbsp;Sensation i&nbsp;przyszłe Media Center złożone z Rasberry&nbsp;PI
