-content_for :header do
  %header
    %figure
      %img{ :src => 'images/peter-jurczynski.jpg', :alt => "Peter Jurczyński", :title => "Peter Jurczyński"} 
    %h1 Piotr Jurczyński
    %p.birthday
      birth: 8th July 1987
    %address
      %p
        %span.icon.icon-poland_flag
        Living in Cracow / Poland
    .contact
      %p.full
        phone: +48 793 704 999
        %br
        %a{ :href => 'mailto:pjurczynski@gmail.com' }
          pjurczynski@gmail.com

%article.cv
  %section
    %h3 Experience
    %ul.details.with-time

      %li
        %time
          2015 &ndash; 2016
        %div.details-description
          %p
            Senior Ruby on Rails Developer at Ruby on Rails consultant agency
            %a{ :href => 'https://www.netguru.co/', :rel => :nofollow } netguru sp. z o. o.

          %div.details-resp
            %h4.details-resp-header
              %a{ :href => 'https://chorus.semel.ucla.edu/', :rel => :nofollow }<>
                Chorus
            %ul.details-resp-list
              Chorus is a participatory mobile health framework and web application to enable patients, providers, researchers, and community leaders to create their own personalized mobile health interventions and share them with each other.
              %br
              %em Technology stack: Rails 4.2.x, Mysql, AngularJS 1.3.x, Redis, Sidekiq
              %li
                Refactor and optimize database to handle more user tables
              %li
                Redesign composer section
              %li
                Support client "somatomap" application in new architecture
              %li
                Migrate and join databases from multiple production servers

          %div.details-resp
            %h4.details-resp-header
              %a{ :href => 'https://harborpathpap.com/users/sign_in', :rel => :nofollow }<>
                Harbor Path
            %ul.details-resp-list
              HarborPath is a non-profit organization whose goal is to bring medications to individuals who otherwise could not afford treatment.
              %br
              %em Technology stack: Rails 4.2.x, Postgresql, Ember.js 1.x, Elasticsearch 0.8, Redis, Sidekiq, cron
              %li
                Tech lead
              %li
                Build API in rails API
              %li
                Convert htmls to pdfs
              %li
                Configure and build ElasticSearch queries
              %li
                Integrate MedVantx API

            %h4.details-resp-header
              %a{ :href => 'https://chorus.semel.ucla.edu/', :rel => :nofollow }<>
                Other Responsibilities

            %ul.details-resp-list
              %li As a senior developer in netguru, I was responsible for maintaining and curating the default stack for our applications.
              %li I was recognized as a leader and have been assigned with a group of developers (6-8) to oversee their progress and plan their growth.

      %li
        %time
          2013 &ndash; 2015
        %div.details-description
          %p
            Ruby on Rails Developer at Ruby on Rails consultant agency
            %a{ :href => 'https://www.netguru.co/', :rel => :nofollow } netguru sp. z o. o.
          %div.details-resp
            %h4.details-resp-header
              %a{ :href => 'https://www.transterramedia.com/', :rel => :nofollow }<>
                Transterra Media
            %ul.details-resp-list
              An international newsroom platform with a continually updated database of ready-made video and photo content that is available for immediate purchase.
              %br
              %em Technology stack: Rails 4.0.13, MySQL, Backbone, Marionette, Salesforce
              %li
                refactor mappers for Salesforce
              %li
                Build "Buyers Experience" interface to manage users options
              %li
                Integrate Media and Users with Salesforce entities
              %li
                Build a middleware for easier testing of developers code on their machines and salesforce

          %div.details-resp
            %h4.details-resp-header
              %a{ :href => 'https://github.com/netguru/devise-ios-rails-example', :rel => :nofollow }<>
                devise ios integration example
            %ul.details-resp-list
              %em Technology stack: Rails 4.1.x, PostgreSQL, Grape
              %li
                Expose Devise API for iOS team

          %div.details-resp
            %h4.details-resp-header
              %a{ :href => 'http://storiesofchange.worldpressphoto.org/', :rel => :nofollow }<>
                World Press Photo - Reports of Change
            %ul.details-resp-list
              A gorgeous online showcase of visual stories created during the Reporting Change workshop series by the World Press Photo academy.
              %br
              %em Technology stack: Rails 4.0.2, MongoDB 2.4.8, MongoID 4.0.0
              %li
                Provide multilingual support on the back end side
              %li
                Build a static back end that is easily filled with data
              %li
                Introduce rails to external front-end developers
      %li
        %time
          2012 &ndash; 2013
        %div.details-description
          %p
            Ruby on Rails Developer at
            %a{ :href => 'http://allani.com', :rel => :nofollow } Allani sp. z o. o.

          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li
                Creating a base of the international website (
                %a{ :href => 'http://allani.com', :rel => :nofollow }<> allani.com
                ).
                %em (js/RoR/
                %strong<> Responsive Web Design
                )
              %li
                Recreating functionality of the `creator`
                %em (js/mustache/RoR)
              %li
                Developing landing pages based on mock-ups
                %em (js/RoR)

      %li
        %time
          2010 &ndash; 2012
        %div.details-description
          %p
            PHP developer and IT support at the Advertising Agency
            %a{ :href => 'http://www.wenecja.com.pl', :rel => :nofollow } www.wenecja.com.pl
          %div.details-resp
            %h4.details-resp-header
              responsibilities
            %ul.details-resp-list
              %li
                Create a page for
                %a{ :href => 'http://www.butyortopedyczne.com', :rel => :nofollow} ButyOrtopedyczne.com
                %em (php/jquery/html/css)
              %li
                Create a page for
                %a{ :href => 'http://rekma.pl', :rel => :nofollow} rekma.pl
                on an existing internal CMS
              %li
                Creation and maintenance of internal CRM
                %em (php/jquery/html/css)

      %li
        %time
          2008 &ndash; 2013
        %div.details-description
          %p
            Freelancer
          %div.details-resp
            %h4.details-resp-header
              best projects
            %ul.details-resp-list
              %li
                %a{ :href => 'http://rentaronin.herokuapp.com'} Rent a Ronin
                %br
                %em (ruby/sinatra/html/css/design)
              %li
                %a{ :href => 'http://wydawnictworemi.pl'} WydawnictwoRemi.pl
                %em (php/jquery/html/css/wordpress)

  %section
    %h3 Education
    %ul.details
      %li
        %div.details-description
          %p
            The School of Banking and Management
          %div.details-resp
            %h4.details-resp-header
              2007 &ndash; 2012
            %ul.details-resp-list
              %li IT Engineering degree

      %li
        %div.details-description
          %div.details-resp
            %h4.details-resp-header
              Attendance at conferences
            %ul.details-resp-list
              %li
                %a{ :href => 'https://2016.fullstackfest.com/' } (2016) FullStackFest (Baruco)
                in Spain/Barcelona
              %li
                %a{ :href => 'http://devternity.com/2015/' } (2016) Wroclove
                in Poland/Wrocław
              %li
                %a{ :href => 'http://devternity.com/2015/' } (2015) Devternity
                \- Dev Architecture conference in Latvia/Riga
              %li
                %a{ :href => 'http://2014.rubyday.it/' } (2014) RubyDay H-farm
                in Italy/Roncade
              %li
                %a{ :href => 'http://2013.fromthefront.it/' } (2013) FrontTrend Brothers
                in Italy/Bologna
              %li
                %a{ :href => 'http://2013.front-trends.com/' } (2013) FrontTrends
                in Warsaw/Poland
              %li
                %a{ :href => 'http://2013.wrocloverb.com/' } (2013) wroc_love_rb
                in Poland/Wrocław
  %section
    %h3 Technologies used
    %ul.details
      %li
        %div.details-description
          %div.details-resp
            = @technologies_used

  %section
    %h3 Interests
    %ul.details
      %li
        %div.details-description
          %div.details-resp
            %h4.details-resp-header
              Music
            %ul.details-resp-list
              %li
                I have a deep passion for music.
                %br My life without music would be empty

          %div.details-resp
            %h4.details-resp-header
              Games
            %ul.details-resp-list
              %li
                If it comes to games, I am a real maniac!
                %br ...I try to limit my addiction though...

  %section.footer
    I hereby authorize you to process my personal data included in my job application for the needs of the recruitment process in accordance with the Personal Data Protection Act dated 29.08.1997 (uniform text: Journal of Laws of the Republic of Poland 2002 No 101, item 926 with further amendments)
