%nav
  %a{ :href => '/' } CV
  %a{ :href => '#' } Portfolio: Table of Contents
%article#slides
  %section
    %h1 Portfolio
    %h2 Table of Contents
    %ul
      %li
        %h3 Projects:
        %ul
        %li
          %a{ :href => '#/1' } JaMamTo.com
        %li
          %a{ :href => '#/2' } WydawnictwoRemi.pl
  %section
    test
