-content_for :scripts do
  %script{ :src => "/js/slideshow.js" }

%div.slides-help
  %p Use keyboard arrows to navigate (click to dismiss)
%article
  %nav.slides-navigation
    %a{ :href => '#' } Portfolio: Table of Contents
  %div#slides
    %h1.page-title Portfolio
    /#=1Table Of Contents =TOC
    %section
      %header
        %h2.slide-title
          Projects:
      %ul.boxes
        %li.boxes-item
          %a{ :href => '#/1' }
            %h4 JaMamTo.com
            %img{ :src => '/images/jamamto_thumb.png', :title => 'JaMamTo.com' }
        %li.boxes-item
          %a{ :href => '#/2' }
            %h4 WydawnictwoRemi.pl
            %img{ :src => '/images/remi_thumb.png', :title => 'Wydawnictwo Remi' }
        %li.boxes-item
          %a{ :href => '#/3' }
            %h4 ButyOrtopedyczne.com
            %img{ :src => '/images/butyortopedyczne_thumb.png', :title => 'Buty Ortopedyczne' }
        %li.boxes-item
          %a{ :href => '#/4' }
            %h4 AutoRadca.pl
            %img{ :src => '/images/autoradca_thumb.png', :title => 'AutoRadca' }
    /#=2jamamto 
    %section
      /#=2.1jamamto 
      %section
        %header
          %h2.slide-title
            %a{ :href => 'http://jamamto.com' }
              JaMamTo.com
          %h3.slide-subtitle#overview
            Project overview
            %img{ :src => '/images/jamamto_thumb.png', :title => 'JaMamTo.com' }
          %p
            :markdown
              I've been recruited to the project to work on a social site. Its core difference was to focus on *positivity*. All news published on a site had to have some positive outcome. Tools that we were going to develope had to inform you about something good. ex. We had a complimentator widget that embeded a video clip with a compliment for you.

          %nav.slides-navigation
            %p
              %a{:href => '#/1/1'} press down arrow key to see what I was responsible for.

      %section
        %header
          %h2.slide-title
            %a{ :href => 'http://jamamto.com' }
              JaMamTo.com
          %h3.slide-subtitle#responsibilities
            Responsibilities
            %img{ :src => '/images/jamamto_thumb.png', :title => 'JaMamTo.com' }
          %p
            :markdown
              With a given photoshop layout, I had to create a launching page.
              Its functionality came down to two things:
              * A counter which displayed remaining days until launch date,
              * A newsletter module (subscribing and displaying former news).

              For the main social page I was given instructions to build a calendar widget with an internal API for other widgets to communicate with it.

          %nav.slides-navigation
            %p
              %a{:href => '#/1'} press up arrow key to go back to project overview.


    /#=3wydawnictworemi
    %section
      %section
        %header
          %h2.slide-title
            %a{ :href => 'http://wydawnictworemi.pl' }
              Wydawnictwo Remi
          %h3.slide-subtitle#overview
            Project Overview
            %img{ :src => '/images/remi_thumb.png', :title => 'Wydawnictwo Remi' }
          %p
            :markdown
              Goal of this project was to create a very simple archive of publishers books. Client didn't want to sell books directly on the website so We've decided to go with the wordpress engine. Also to cut costs we've found an ideal template on [Theme Forest](http://themeforest.net) that we could implement in our vision.

          %nav.slides-navigation
            %p
              %a{:href => '#/2/1'} press down arrow key to see what I was responsible for.
      /#=2.1
      %section
        %header
          %h2.slide-title
            %a{ :href => 'http://wydawnictworemi.pl' }
              Wydawnictwo Remi
          %h3.slide-subtitle#responsibilities
            Responsibilities
            %img{ :src => '/images/remi_thumb.png', :title => 'Wydawnictwo Remi' }
          %p
            :markdown
              I've customized template from [Theme Forest](http://themeforest.net) and added some functionality ex.:
              * sorting books by the author, date published or by genre,
              * integration with facebook.
              
          %nav.slides-navigation
            %p
              %a{:href => '#/2'} press up arrow key to go back to project overview.

    /#=4butyortopedyczne
    %section
      %section
        %header
          %h2.slide-title
            %a{ :href => 'http://butyortopedyczne.pl' }
              Buty Ortopedyczne
            %h3.slide-subtitle#overview
              Project Overview
              %img{ :src => '/images/butyortopedyczne_thumb.png', :title => 'Buty Ortopedyczne' }
          %p
            :markdown
              In a cooperation with advertising agency ([Agencja&nbsp;Reklamy&nbsp;Wenecja](http://www.wenecja.com.pl)), we've created a complete corporate identity of an orthopedic boots. The goal was simple &ndash; create a website with the latest boots collection. The page itself was meant to stay intact for the whole year. At the end of each year there will be a complete redesign.
          %nav.slides-navigation
            %p
              %a{:href => '#/3/1'} press down arrow key to see what I was responsible for.
      %section
        %header
          %h2.slide-title
            %a{ :href => 'http://butyortopedyczne.pl' }
              Buty Ortopedyczne
            %h3.slide-subtitle#responsibilities
              Responsibilities
              %img{ :src => '/images/butyortopedyczne_thumb.png', :title => 'Buty Ortopedyczne' }
          %p
            :markdown
              As a page is going to change once a year without any changes in between, we've decided to put up a static design. Although the site is composed in pure html, I have decided to create a very simple php templating engine. This helped me to conform with changing concepts during development.
              
              Basicly my responsibilities was to:
              * chop the photoshop layout,
              * create a simple php templating engine.
          %nav.slides-navigation
            %p
              %a{:href => '#/3/1'} press up arrow key to go back to project overview.
    /#=5Autoradca
    %section
      %section
        %header
          %h2.slide-title
            %a{ :href => 'http://autoradca.pl' }
              AutoRadca.pl
            %h3.slide-subtitle#overview
              Project Overview
              %img{ :src => '/images/autoradca_thumb.png', :title => 'AutoRadca' }
          %p
            :markdown
              The requirements for this project was to easly modify contents of a future page and to be visualy most appealing. To cut the costs, we used a template from [Theme Forest](http://themeforest.net). 
              
              This was a time critical project, as a client was days before opening the company.
          %nav.slides-navigation
            %p
              %a{:href => '#/4/1'} press up arrow key to go back to project overview.
      /#=4.1
      %section
        %header
          %h2.slide-title
            %a{ :href => 'http://autoradca.pl' }
              AutoRadca.pl
            %h3.slide-subtitle#responsibilities
              Responsibilities
              %img{ :src => '/images/autoradca_thumb.png', :title => 'AutoRadca' }
          %p
            :markdown
              In this fast paced project I was responsible for customizing a wordpress template and add some basic modifications in functionality.
          %nav.slides-navigation
            %p
              %a{:href => '#/4'} press up arrow key to go back to project overview.
