%article
  %h1.page-title Portfolio
  %nav.slides-navigation
    %a{ :href => '/' } Resume
    %a{ :href => '#' } Portfolio: Table of Contents
  %div#slides
    %section
      %header
        %h2.slide-title
          Projects:
      %ul.boxes
        %li.boxes-item
          %a{ :href => '#/1' }
            %h4 JaMamTo.com
            %img{ :src => '/images/jamamto_thumb.png', :title => 'AutoRadca' }
        %li.boxes-item
          %a{ :href => '#/2' }
            %h4 WydawnictwoRemi.pl
            %img{ :src => 'images/jamamto_thumb.png', :title => 'AutoRadca' }
        %li.boxes-item
          %a{ :href => '#/2' }
            %h4 ButyOrtopedyczne.com
            %img{ :src => 'images/jamamto_thumb.png', :title => 'AutoRadca' }
        %li.boxes-item
          %a{ :href => '#/2' }
            %h4 AutoRadca.pl
            %img{ :src => 'images/jamamto_thumb.png', :title => 'AutoRadca' }
    %section
      %header
        %h2.slide-title
          Projects:
      %ul.boxes
        %li.boxes-item
          %a{ :href => '#/1' }
            %h4 JaMamTo.com
            %img{ :src => '/images/jamamto_thumb.png', :title => 'AutoRadca' }
        %li.boxes-item
          %a{ :href => '#/2' }
            %h4 WydawnictwoRemi.pl
            %img{ :src => 'images/jamamto_thumb.png', :title => 'AutoRadca' }
        %li.boxes-item
          %a{ :href => '#/2' }
            %h4 ButyOrtopedyczne.com
            %img{ :src => 'images/jamamto_thumb.png', :title => 'AutoRadca' }
        %li.boxes-item
          %a{ :href => '#/2' }
            %h4 AutoRadca.pl
            %img{ :src => 'images/jamamto_thumb.png', :title => 'AutoRadca' }
