/* line 34, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 35, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 37, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 48, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 50, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
html, button, input, select, textarea {
  font-family: "arial", sans-serif;
  color: #033649;
}

/* line 52, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
  font-size: 0.938em;
  line-height: 1.4;
}

/* line 62, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::-moz-selection {
  background: #033649;
  color: white;
  text-shadow: none;
}

/* line 63, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::selection {
  background: #033649;
  color: white;
  text-shadow: none;
}

/* line 71, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a {
  color: #033649;
}

/* line 72, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:visited {
  color: #033649;
}

/* line 73, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:hover {
  color: #033649;
}

/* line 74, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 77, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 85, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 87, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 89, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 91, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 93, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 95, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 97, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 100, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 103, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 105, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 106, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 108, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 85%;
}

/* line 111, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 112, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 113, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 121, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 122, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 123, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 134, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 138, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 146, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 154, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 155, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 158, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
label {
  cursor: pointer;
}

/* line 163, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 169, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 173, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 179, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 183, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 187, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 188, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 189, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 193, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 198, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 202, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 210, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 211, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
td {
  vertical-align: top;
}

/* line 6, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_chromeframe.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* line 51, ../../icon */
.icon-sprite, .icon-cv, .icon-poland_flag, .icon-portfolio, .icon-print, .icon-top_bg {
  background: url('/images/icon-sf765803c2b.png') no-repeat;
}

/* line 60, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cv {
  background-position: 0 0;
}

/* line 60, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-poland_flag {
  background-position: 0 -33px;
}

/* line 60, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-portfolio {
  background-position: 0 -49px;
}

/* line 60, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-print {
  background-position: 0 -89px;
}

/* line 60, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-top_bg {
  background-position: 0 -123px;
}

/* line 12, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
body, select, input, textarea {
  color: #033649;
  background: #e8ddcb;
}

/* line 26, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
#container {
  overflow: hidden;
  *zoom: 1;
}
/* line 28, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
#container:before {
  position: absolute;
  left: 0;
  top: 0;
  content: " ";
  display: block;
  width: 100%;
  height: 1.4em;
  background: url(/images/top_bg.png) left top;
  z-index: 200;
  opacity: 0.5;
}
/* line 41, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
#container > header address p {
  float: left;
  margin: 0 10px;
}
/* line 44, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
#container > header address p:first-child {
  margin-left: 0;
}

/* line 51, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
footer {
  background: #e8ddcb;
}
/* line 53, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
footer:after {
  background: url(/images/vl.png) right top repeat;
}
/* line 55, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
footer li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.4em;
  padding-right: 2.8em;
  list-style: none;
}
/* line 60, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
footer a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: right;
  line-height: 4.2em;
  color: #e8ddcb;
  text-decoration: none;
  white-space: nowrap;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 70, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
footer a:visited {
  color: #e8ddcb;
}
/* line 72, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
footer a:hover {
  color: #033649;
}
/* line 74, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
footer a:hover .icon {
  background-color: #033649;
}

/* line 76, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 34px;
  background-color: #016564;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 84, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
.icon-portfolio {
  height: 40px;
}

/* line 87, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
.icon-cv {
  height: 33px;
}

/* line 90, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
.icon-poland_flag {
  padding-left: 36px;
  text-transform: uppercase;
  display: inline;
  vertical-align: top;
  background-color: transparent;
}

/* line 97, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
img {
  -moz-box-shadow: 0 0 10px #cdb380;
  -webkit-box-shadow: 0 0 10px #cdb380;
  -o-box-shadow: 0 0 10px #cdb380;
  box-shadow: 0 0 10px #cdb380;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  margin: 0 2% 0.35em;
}

/* line 103, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
a, a:visited {
  text-decoration: none;
  color: #016564;
}
/* line 106, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
a:hover, a:visited:hover {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  color: #238786;
}

/* line 110, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
.page-title {
  text-align: left;
  margin: 0 0 0 5%;
}

/* line 114, /media/sf_praca/about_me/page/cv/sass/partials/_base.sass */
.visually-hidden {
  visibility: hidden;
}

/* line 4, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
body {
  overflow-x: hidden;
}

/* line 6, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
#container {
  padding-top: 2.8em;
  margin: 0 auto;
}
/* line 9, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
#container > header {
  float: left;
  width: 83%;
  margin-left: 1%;
  margin-right: 1%;
  margin-left: 17%;
  height: 11.2em;
}
/* line 13, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
#container > header h1 {
  float: left;
  width: 48.795%;
  margin-left: 1.205%;
  margin-right: 1.205%;
}
/* line 15, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
#container > header address, #container > header .birthday {
  float: left;
  width: 28.313%;
  margin-left: 1.205%;
  margin-right: 1.205%;
  margin-right: 0;
}
/* line 18, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
#container > header address, #container > header .subtitle {
  float: left;
  width: 23.193%;
  margin-left: 1.205%;
  margin-right: 1.205%;
}
/* line 20, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
#container > header .birthday {
  padding-top: 2.1em;
  margin-bottom: 0.75em;
}
/* line 23, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
#container > header figure {
  float: left;
  width: 18.072%;
  margin-left: 1.205%;
  margin-right: 1.205%;
  margin-left: 0;
}
/* line 27, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
#container > footer {
  float: left;
  width: 15%;
  margin-left: 1%;
  margin-right: 1%;
  margin-left: 0;
  position: fixed;
  height: 100%;
  top: 0;
  padding-top: 2.8em;
}
/* line 34, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
#container > footer:after {
  width: 1.4em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  content: " ";
}

/* line 42, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
#main {
  float: left;
  width: 83%;
  margin-left: 1%;
  margin-right: 1%;
  margin-left: 17%;
  margin-right: 0;
}

/* line 51, /media/sf_praca/about_me/page/cv/sass/partials/_layout.sass */
section {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}

/* line 1, /media/sf_praca/about_me/page/cv/sass/partials/_typography.sass */
h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 1.4em 0;
}

/* line 3, /media/sf_praca/about_me/page/cv/sass/partials/_typography.sass */
h1 {
  font-size: 3em;
  line-height: 1.4em;
  font-weight: normal;
  margin-bottom: 0;
}

/* line 9, /media/sf_praca/about_me/page/cv/sass/partials/_typography.sass */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 1.266em;
}

/* line 16, /media/sf_praca/about_me/page/cv/sass/partials/_typography.sass */
h4 {
  text-transform: uppercase;
  line-height: 1.4em;
  font-weight: normal;
}

/* line 21, /media/sf_praca/about_me/page/cv/sass/partials/_typography.sass */
time {
  color: #016564;
  font-size: 1.125em;
}

/* line 25, /media/sf_praca/about_me/page/cv/sass/partials/_typography.sass */
address {
  font-style: normal;
}

/* line 1, /media/sf_praca/about_me/page/cv/sass/partials/_lists.sass */
li {
  width: 100%;
  position: relative;
  list-style: disc;
}

/* line 1, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js {
  @-moz-document url-prefix() {
    /* line 109, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
    section.past, #slides .section {
      left: -100%;
    }
}

}
/* line 2, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js body.slides {
  text-align: center;
}
/* line 4, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js body.slides article {
  display: inline-block;
  position: relative;
  width: 100%;
}
/* line 8, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js #slides {
  width: 90%;
  height: 90%;
  min-height: 500px;
  margin-left: 5%;
  top: 4.2em;
  text-align: center;
  -webkit-perspective: 600px;
  -webkit-perspective-origin: 50% 25%;
}
/* line 18, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js #slides > section, .js #slides > section > section {
  display: none;
  width: 100%;
  height: 100%;
  max-width: 960px;
  max-height: 500px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  text-align: left;
  margin: 0 auto;
}
/* line 32, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js #slides > section .slides-navigation, .js #slides > section > section .slides-navigation {
  top: 0;
  position: static;
  font-weight: bold;
}
/* line 37, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js #slides section.past {
  position: absolute;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
}
/* line 43, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js #slides section.present {
  display: block;
}
/* line 46, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js #slides section.future {
  position: absolute;
  top: 0;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
}
/* line 53, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js #slides section > section.past {
  position: absolute;
  display: inline-block;
  left: auto;
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
}
/* line 60, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js #slides section > section.future {
  position: absolute;
  display: inline-block;
  left: auto;
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
}
/* line 67, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js #slides header {
  margin: 0 5%;
}
/* line 70, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js .slide-title {
  margin-bottom: 0;
  text-transform: uppercase;
  color: #016564;
}
/* line 75, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js .slide-subtitle img {
  vertical-align: top;
  float: right;
}
/* line 79, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js .slides-navigation {
  position: absolute;
  top: -2.8em;
  width: 100%;
  left: 80%;
  z-index: 200;
  font-style: italic;
}
/* line 86, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js .slides-navigation a {
  display: block;
  text-align: left;
}
/* line 90, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js .slides-help {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 220;
  height: 2.8em;
  line-height: 2.8em;
  color: #e8ddcb;
  width: 100%;
  text-align: center;
  background: #016564;
  display: none;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  overflow: hidden;
  cursor: pointer;
}
/* line 105, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
.js .slides-help:hover {
  background: #cdb380;
}
@media only screen and (min-width: 1500px) {
  /* line 113, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
  .js .page-title {
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    margin: 0 0 -0.9em -4%;
  }
  /* line 116, /media/sf_praca/about_me/page/cv/sass/partials/_slides.sass */
  .js .slides-navigation {
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    left: 2%;
    top: -2.8em;
  }
}

/* line 3, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
article.cv section, article.portfolio section {
  border-bottom: 1px solid #cdb380;
  margin-bottom: -1px;
  padding-top: 1.4em;
}
/* line 7, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
article.cv h3, article.portfolio h3 {
  float: left;
  width: 18.072%;
  margin-left: 1.205%;
  margin-right: 1.205%;
  margin-left: 0;
}

/* line 11, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
ul.details {
  margin: 0;
  padding: 0;
  float: left;
  width: 79.518%;
  margin-left: 1.205%;
  margin-right: 1.205%;
  margin-right: 0;
}
/* line 16, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
ul.details > li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #cdb380;
  margin-bottom: 1.333em;
  list-style: none;
}
/* line 21, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
ul.details > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
/* line 24, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
ul.details.with-time > li {
  min-height: 9.867em;
}
/* line 26, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
ul.details time {
  float: left;
  width: 26.132%;
  margin-left: 1.742%;
  margin-right: 1.742%;
  margin-left: 0;
  padding-right: 1.2em;
  white-space: nowrap;
  text-align: right;
  position: absolute;
  left: -26.132%;
  -moz-transform-origin: right top;
  -webkit-transform-origin: right top;
  -o-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

/* line 37, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
div.details-description {
  margin-left: 14.808%;
}

/* line 40, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
div.details-resp {
  overflow: hidden;
  *zoom: 1;
}

/* line 43, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
h4.details-resp-header {
  float: left;
  width: 30.612%;
  margin-left: 2.041%;
  margin-right: 2.041%;
  margin-left: 0;
  min-width: 150px;
}

/* line 48, /media/sf_praca/about_me/page/cv/sass/partials/_cv.sass */
ul.details-resp-list {
  padding: 0;
  margin: 0 0 1.4em;
  float: left;
  width: 65.306%;
  margin-left: 2.041%;
  margin-right: 2.041%;
  margin-right: 0;
}

/* line 1, /media/sf_praca/about_me/page/cv/sass/partials/_boxes.sass */
.boxes, .boxes-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 7, /media/sf_praca/about_me/page/cv/sass/partials/_boxes.sass */
.boxes-item {
  width: 45%;
  margin: 0 1% 1em;
  position: relative;
}
/* line 11, /media/sf_praca/about_me/page/cv/sass/partials/_boxes.sass */
.boxes-item h4 {
  margin: 1em;
}
/* line 13, /media/sf_praca/about_me/page/cv/sass/partials/_boxes.sass */
.boxes-item * {
  vertical-align: middle;
}
/* line 15, /media/sf_praca/about_me/page/cv/sass/partials/_boxes.sass */
.boxes-item img {
  width: 100%;
}
/* line 17, /media/sf_praca/about_me/page/cv/sass/partials/_boxes.sass */
.boxes-item a {
  display: block;
}
/* line 19, /media/sf_praca/about_me/page/cv/sass/partials/_boxes.sass */
.boxes-item a:hover img {
  -moz-box-shadow: 0 0 20px white;
  -webkit-box-shadow: 0 0 20px white;
  -o-box-shadow: 0 0 20px white;
  box-shadow: 0 0 20px white;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 11, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, /home/merstzik/.rvm/gems/ruby-1.9.3-p0/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* line 20, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  body {
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: white;
    min-width: 900px;
  }

  /* line 26, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  footer, .slides-help, .slides-navigation {
    display: none;
  }

  /* line 28, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  #container {
    padding: 0 3%;
    background: none;
  }
  /* line 33, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  #container > header {
    float: left;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-left: 0%;
  }
  /* line 36, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  #container:before {
    background: none;
  }

  /* line 38, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  #main {
    float: left;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
  }

  /* line 41, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  article.cv section, article.cv ul.details > li {
    border-bottom: 0;
  }

  /* line 43, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  a[href]:after {
    content: "";
  }

  /* line 45, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  a, a:visited {
    text-decoration: none;
  }

  /* line 47, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  .icon-poland_flag {
    padding: 0;
  }

  /* line 49, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  .cv section:last-child .details-resp:last-child .details-resp-list:last-child {
    margin-bottom: 0;
  }

  /* line 53, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  #container #slides > section {
    margin-top: 2.8em;
  }
  /* line 55, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  #container #slides section {
    position: static;
    display: block;
    opacity: 1;
    -webkit-transform: none;
  }
  /* line 61, /media/sf_praca/about_me/page/cv/sass/partials/_media.sass */
  #container #slides section > section + section .slide-title, #container #slides section > section + section .slide-subtitle img {
    display: none;
  }
}
