html, body {
  width: 100%;
  height: 100%;
}
#outer {
  width: 90%;
  background: red;
  height: 90%;
  margin: 5%;
  text-align: center;
}

#outer div {
  width: 50%;
  height: 50%;
  display: inline-block;
  background: blue;
  position: absolute;
}

