// base
//@import compass/css3

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
@import 'icon/*.png'

@include all-icon-sprites

body, select, input, textarea
  color: $font-color
  background: $background-color
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
@import 'compass/utilities'
@import 'compass/css3'

body

#container
  +clearfix
  &:before
    position: absolute
    left: 0
    top: 0
    content: ' '
    display: block
    width: 100%
    height: 1.4em
    background: url(/images/top_bg.png) left top
    z-index: 200
    opacity: 0.5
  > header
    address
      p
        float: left
        margin: 0 #{$col-gutter}px
        &:first-child
          margin-left: 0

header

#main

footer
  &:after
    background: url(/images/vl.png) right top repeat
  li
    +box-sizing( border-box )
    margin-bottom: 1.4em
    padding-right: 2.8em
    list-style: none
  a
    display: block
    width: 100%
    height: 100%
    text-align: right
    line-height: 4.2em
    color: $background-color
    text-decoration: none
    white-space: nowrap
    +single-transition( color )
    &:hover
      color: $font-color
      .icon
        background-color: $font-color
.icon
  display: inline-block
  vertical-align: middle

.icon-portfolio, .icon-print
  width: 38px
  height: 34px
  margin-left: 0.5em
  background-color: $accent-font-color
  +single-transition( background-color )

.icon-portfolio
  height: 40px

.icon-poland_flag
  padding-left: 36px
  text-transform: uppercase
  display: inline
  vertical-align: top

// =links
a
  text-decoration: none
  color: $accent-font-color
