.boxes, .boxes-item
  display: inline-block
  margin: 0
  padding: 0
  text-align: center
  
.boxes-item
  width: 45%
  margin: 0 0.4% 1em
  position: relative
  h4
    margin: 0
  *
    vertical-align: middle
  img
    width: 100%
  a
    display: block
